/* ButtonContainer.css */
.button-container {
    display: flex;
    justify-content: center;
    
}

.invite-button, .back-button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.invite-button {
    background-color: #007bff;
    color: white;
    width: 80px;
    margin-right: 20px; /* 왼쪽 마진 추가 */
}

.back-button {
    background-color: #ddd;
    color: black;
    width: 80px;
    margin-left: 20px; /* 오른쪽 마진 추가 */
}
