/* Content 컴포넌트의 스타일 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.upload-image {
    max-width: 200px;
    margin-bottom: 20px;
}

.upload-text {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}
