/* CreateAlbumModal.css 변경 사항 */

.createAlbumModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 더 어두운 오버레이 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .createAlbumModal-container {
    background-color: #333; /* 어두운 배경 */
    color: #fff; /* 밝은 글자색 */
    padding: 20px;
    border-radius: 8px;
    width: 350px; /* 박스 크기 조절 */
    height: 770px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 박스에 그림자 추가 */
  }
  
  .createAlbumModal-formGroup {
    margin-bottom: 10px;
  }
  
  .createAlbumModal-label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* 밝은 글자색 */
    font-size: 16px; /* 글자 크기 조절 */
    font-weight: bold; /* 글자 두께 */
  }
  
  .createAlbumModal-input,
  .createAlbumModal-checkboxGroup {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555; /* 입력 필드 테두리 색상 */
    background-color: #222; /* 입력 필드 배경색 */
    color: #ddd; /* 입력 필드 글자색 */
    border-radius: 4px;
  }
  
  .createAlbumModal-checkboxLabel {
    margin-right: 10px;
    user-select: none;
    color: #ccc; /* 체크박스 라벨 색상 */
  }
  
  .createAlbumModal-buttonGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .createAlbumModal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* 버튼 배경색 */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .createAlbumModal-button:hover {
    background-color: #0056b3;
  }
  
  .createAlbumModal-button.closeButton {
    background-color: #6c757d;
  }
  
  .createAlbumModal-button.closeButton:hover {
    background-color: #545b62;
  }
  