/* EditButton.css */
.edit-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-bottom: 20px;
    cursor: pointer;
}
