.login-container {
    width: 400px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 0 auto 160px;
}

.logo {
    margin-bottom: 20px;
    color: black;
    font-family: 'Cafe24Shiningstar', serif;
    font-size: 3rem;
    font-weight: 900;
}