.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
}

.button-link-container {
    display: flex;
    justify-content: space-between;
}

.login-button,
.signup-link {
    padding: 10px;
    flex-grow: 1;
}

.login-confirm-button {
    margin: 10px auto 0;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 1s ease;
}

/* ... 나머지 LoginForm 관련 스타일 ... */
