.signup-container {
    width: 400px;
    height: 500px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    margin: 10vh auto 20px;
    background: white;
}
